profiles {

    standard {
        process {
            executor = 'local'
            cpus = 2

            withLabel: large_task {
                cpus = 4
            }
        }
    }

    cluster {
        process {
            executor = 'slurm'
            queue = 'hns'
            cpus = 1
            memory = '6GB'
            time = '1d'

            withLabel: large_task {
                cpus = 8
                memory = '16GB'
            }
        }
    }
}

